body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

button {
    height: 35px;
    min-width: 100px;
    padding: 0 10px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
}

button:hover {
    background-color: #ccc;
}